fuse projects/enterprise-schemas/src/main/resources/com/estafet/enterprise/services/address/v1/AddressEBS.wsdl

<wsdl:definitions	name="AddressEBS"
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
					xmlns:ebm="http://www.estafet.com/enterprise/messages/address/v1"
					xmlns:ebs="http://www.estafet.com/enterprise/services/address/v1"
					targetNamespace="http://www.estafet.com/enterprise/services/address/v1">
  <wsdl:documentation>Address Enterprise Business Service</wsdl:documentation>
  <wsdl:types>  
  	<xsd:schema targetNamespace="http://www.estafet.com/enterprise/services/address/v1" elementFormDefault="qualified">
    	<xsd:import namespace="http://www.estafet.com/enterprise/messages/address/v1" schemaLocation="../../../messages/address/v1/AddressEBM.xsd"/>
    </xsd:schema>
  </wsdl:types>   
  <wsdl:message name="FormatAddressReqMsg">
    <wsdl:part name="FormatAddressEBM" element="ebm:FormatAddressEBM" />
  </wsdl:message>
  <wsdl:message name="FormatAddressRespMsg">
    <wsdl:part name="FormatAddressResponseEBM" element="ebm:FormatAddressResponseEBM" />
  </wsdl:message>
  <wsdl:message name="SearchAddressReqMsg">
  	<wsdl:part name="SearchAddressEBM" element="ebm:SearchAddressEBM" />
  </wsdl:message>
  <wsdl:message name="SearchAddressRespMsg">
  	<wsdl:part name="SearchAddressResponseEBM" element="ebm:SearchAddressResponseEBM" />
  </wsdl:message>
  <wsdl:message name="ProcessAddressReqMsg">
  	<wsdl:part name="ProcessAddressEBM" element="ebm:ProcessAddressEBM" />
  </wsdl:message>
  <wsdl:message name="ProcessAddressRespMsg">
  	<wsdl:part name="ProcessAddressResponseEBM" element="ebm:ProcessAddressResponseEBM" />
  </wsdl:message>
  <wsdl:message name="ProcessAddressesReqMsg">
  	<wsdl:part name="ProcessAddressesEBM" element="ebm:ProcessAddressesEBM" />
  </wsdl:message>
  <wsdl:message name="ProcessAddressesRespMsg">
  	<wsdl:part name="ProcessAddressesResponseEBM" element="ebm:ProcessAddressesResponseEBM" />
  </wsdl:message>
  <wsdl:portType name="AddressEBS">
    <wsdl:operation name="FormatAddress">
      <wsdl:input message="ebs:FormatAddressReqMsg"/>
      <wsdl:output message="ebs:FormatAddressRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="SearchAddress">
    	<wsdl:input message="ebs:SearchAddressReqMsg"/>
    	<wsdl:output message="ebs:SearchAddressRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="ProcessAddress">
    	<wsdl:input message="ebs:ProcessAddressReqMsg"/>
    	<wsdl:output message="ebs:ProcessAddressRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="ProcessAddresses">
    	<wsdl:input message="ebs:ProcessAddressesReqMsg"/>
    	<wsdl:output message="ebs:ProcessAddressesRespMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressEBSSOAP" type="ebs:AddressEBS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FormatAddress">
      <soap:operation soapAction="http://www.estafet.com/enterprise/services/address/v1/FormatAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="SearchAddress">
      <soap:operation soapAction="http://www.estafet.com/enterprise/services/address/v1/SearchAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="ProcessAddress">
      <soap:operation soapAction="http://www.estafet.com/enterprise/services/address/v1/ProcessAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
         <wsdl:operation name="ProcessAddresses">
      <soap:operation soapAction="http://www.estafet.com/enterprise/services/address/v1/ProcessAddresses"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressEBS">
    <wsdl:port binding="ebs:AddressEBSSOAP" name="AddressEBSSOAP">
      <soap:address location="http://to-be-defined-by-user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>